body {
  background: var(--c-cream) url("../resources/assets/wall_tree_pattern.jpg") repeat;
  background-blend-mode: darken;
  background-size: 300px;
}

.glass-container {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 87.5vw;
  margin: 50px auto;

  color : var(--c-cream);
}

article.glass-container {
  padding-bottom: 15px;
}

.avantage-title {
  font-family: var(--f-sans-bold);
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}

.avantage-content {
  font-family: var(--f-sans);
  font-size: 0.75rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 95%;
}

.avantage-content aside {
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 9/10;
  margin: 20px 0 20px 10px;
  max-width: 150px;
  border-radius: 10px;

  box-shadow: #00000050 0 10px 10px -5px;
  transition: all 0.25s ease-out;

  flex: 10;
}

.avantage-content aside:hover {
  transform: scale(1.07);
  box-shadow: #00000050 0 15px 20px -5px;
}

.avantage-content aside img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.glass-container:not(:last-of-type) aside img {
  transform: scale(1.5);
}

.avantage-content > div {
  flex: 12;
  margin: auto 10px;
}

.avantage-content p {
  text-align: left;
  line-height: 17px;
}

.avantage-content b {
  letter-spacing: 0.65px;
}

#avantage-dialog {
  padding: 0;
  border: none!important;
  height: fit-content;
  width: fit-content;
  background: none;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000050 0 10px 10px -5px;

  transition: all 0.25s ease-out;
}



#avantage-dialog img {
  width: 80vw;
  height: auto;
  border: none!important;
  outline: none;

  object-fit: cover;
}

@media (min-width: 901px) {
  body {
    background-size: 500px;
  }

  .glass-container {
    width: 60vw;
  }

  .avantage-title {
    font-size: 2.25rem;
    margin-top: 1.75rem;
  }

  .avantage-content aside {
    aspect-ratio: 1/1;
    margin: 2.25rem;
    max-width: 375px;
  }

  .avantage-content aside img {
    max-width: 100%;
  }

  .avantage-content p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  #avantage-dialog img {
    width: auto;
    height: 80vh;
  }
}
