body {
  background: var(--c-cream) url("../resources/assets/wall_tree_pattern.jpg") repeat;
  background-blend-mode: darken;
  background-size: 300px;
}

#sect-hours {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;
  padding-bottom: 25px;

  width: 84vw;
  min-width: 320px;
  max-width: 475px;

  color: var(--c-cream);
}

h1 {
  font-family: var(--f-fancy);
  font-size: 3rem;
  margin: 25px 0 ;
}

#hours-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  font-family: var(--f-sans);
  font-size: 1.2rem;
}

#hours-txt {
  width: 100%;
}

#hours-txt > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 80%;

  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

#hours-txt > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

#hours-txt > ul > li > p:first-child {
  font-weight: bold;
}

#hours-txt > ul > li > p:first-child::after {
  content: ":";
  margin: 0 3px;
}

#hours-paws {
  display: None;
}

@media (min-width: 901px) {
  body {
    background-size: 500px;
  }

  .glass-container {
    border-radius: 20px;
  }

  #sect-hours {
    width: 900px;
    min-width: 900px;
    max-width: 900px
  }

  #hours-container {
    flex-direction: row;
    justify-content: center;

    font-size: 1.5rem;
  }

  #hours-txt {
    flex: 21;
    height: 100%;
    justify-self: flex-start;
  }

  #hours-txt > ul {
    padding: 0;
  }

  #hours-txt > ul > li > p:last-child {
    text-align: center;
    width: 200px;
  }

  #hours-paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;

    flex: 10;
    height: 100%;
    justify-self: flex-end;
  }

  #hours-paws > img {
    width: 60%;
    height: 60%;

    position: relative;
    top: -25px;
    left: -38px;

    transform: rotate(355deg);
  }
}
