@import "index_chats.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-cream);
  text-align: center;
  font-size: 1em;
  padding: 150px 20px 0;

  font-family: var(--f-sans);
  color: var(--c-dark-brown);

  height: 300vh;
}

h1 {
  font-family: var(--f-sans-light);
}

#content {
  z-index: 50;
  scale: 1;
  margin-top: 5rem;
  font-family: var(--f-sans);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#content hr {
  margin: 2rem 0;
  border: 1px solid var(--c-dark-brown);
  border-radius: 10px;
  width: 75%;
}

#content h2 {
  font-family: var(--f-sans-light);
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0;
}

#content a {
  color: var(--c-dark-brown);
}

#content a:visited {
  color: var(--c-dark-brown);
}

#pre-txt {
  font-size: 1.25em;
  color: var(--c-dark-brown);
  margin-bottom: 1rem;
}

/* ##### Horaires ##### */

#horaires p {
  font-size: 1.25rem;
}

#horaires h4 {
  font-size: 1.25rem;
}

@media (min-width: 901px) {
  body {
    padding: 125px 50px 0;
  }

  #content hr {
    width: 65%;
  }
}
