@import "index_chats.css";
@import "index_carte.css";
@import "index_avantages.css";

body {
  background-color: var(--c-cream);
  text-align: center;
  font-size: 1em;

  font-family: var(--f-sans);
  color: var(--c-dark-brown);
}

main {
  padding: 0 20px;
}

h1 {
  font-family: var(--f-sans-light);
}

#scroll_to_content {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 30px;

  box-shadow: #00000050 0 5px 5px;

  transition: all 0.2s ease-out;
}

#scroll_to_content:hover {
  transform: scale(1.1);
}

#scroll_to_content svg {
  width: 100%;
  height: 100%;
  fill: var(--c-dark-brown);
  transform: scale(1.8);
}

#content {
  z-index: 50;
  scale: 1;
  margin-top: 5rem;
  font-family: var(--f-sans);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#content hr {
  margin: 2rem 0;
  border: 1px solid var(--c-dark-brown);
  border-radius: 10px;
  width: 75%;
}

#content h2 {
  font-family: var(--f-sans-light);
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0;
}

#content a {
  color: var(--c-dark-brown);
}

#content a:visited {
  color: var(--c-dark-brown);
}

#pre-txt {
  font-size: 1.25em;
  color: var(--c-dark-brown);
  margin-bottom: 1rem;
}

/* ##### Horaires ##### */

#horaires p {
  font-size: 1.25rem;
}

#horaires h4 {
  font-size: 1.25rem;
}

@media (min-width: 901px) {
  body {
  }

  main {
    padding: 0 50px;
  }

  #scroll_to_content {
    top: -10px;
  }

  #content hr {
    width: 65%;
  }
}
