body {
  background: var(--c-cream) url("../resources/assets/wall_blue_pattern.jpg") repeat;
  background-size: 125px;
  background-attachment: fixed;

  color: var(--c-dark-brown)
}

main {
  padding: 0 7.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: var(--f-sans);
  font-size: 1.1rem;

}

#title-container {
  padding: 1px 5px;
}

#title-container h1 {
  text-shadow: #00000050 0 3px 5px;
}

#title-container, article.menu-art {
  background-color: var(--c-cream);
  border-radius: 15px;
  box-shadow: #00000050 0 5px 15px;
}

.menu-art {
  width: 85vw;
  max-width: 475px;
  min-width: 340px;

  margin: 2rem 0;
  min-height: 60vh;
  padding-bottom: 1rem;
}

.menu-art > h2 {
  text-align: center;
  margin-top: 0;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: normal;
  font-family: var(--f-fancy);
  text-shadow: #00000050 0 2px 4px;
}

.menu-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.menu-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.menu-top .menu-title {
  width: 80%;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.menu-title > span {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.menu-top .price-container {
  width: 17.5%;
}

.menu-price {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.price-sub {
  font-size: 0.7rem;
  margin: 0;
}

.menu-sub {
  margin-left: 1rem;
}

.menu-sub > p {
  font-size: 1.1rem;
  margin: 0;
}

.bf-sub {
  margin-left: 1rem;
  width: calc(100% - 1rem);
}

.bf-sub > ul {
  list-style: disc;
  margin: 0;
  padding: 0;
  width: 100%;
}
#bf-eau .menu-title {
  width: 30%;
}

#bf-eau .price-container {
  width: 59%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

#bf-eau .bf-sub ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#bf-eau .bf-sub ul li p {
  margin: 0.5rem 0;
}

#bf-eau .bf-sub ul li div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.bf-sub#symple ul {
  margin-left: 0.5rem;
  width: calc(100% - 1.5rem);
}

.bf-sub#symple hr {
  width: 95%;
  border: 1px solid var(--c-dark-brown);
  margin: 2rem 0;
}

.bf-sub#symple h5 {
  font-size: 1.1rem;
}

.bf-sub#symple p {
  font-size: 0.9rem;
}

#thés img {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  align-self: center;
}

#thés .tea-price {
  align-self: center;
  font-size: 1.5rem;
}

#thés .tea-cat {
  text-align: center;
  align-self: center;
  font-family: var(--f-fancy);
}

#thés p {
  margin-top: 1rem;
}

#thés hr {
  width: 90%;
  margin: 0 1rem;
  border: 1px solid var(--c-dark-brown);
  border-radius: 100px;
}

#beer .menu-sub li {
  margin-bottom: 1rem;
}

#beer .menu-sub p {
  margin: 0.5rem 0;
}

#beer .menu-sub p:first-child{
  font-weight: bold;
}

#beer .menu-sub p:last-child{
  font-style: italic;
}

#wine .menu-top .menu-title {
  width: 30%;
}

#wine .menu-top .price-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 39%;
}

#wine .menu-sub {
  width: calc(100% - 1rem);
}

#wine .menu-sub > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wine-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wine-top .wine-title, .wine-top .wine-prices {
  width: 40%;
}

.wine-title, .wine-prices * {
  margin-bottom: 0;
}

.wine-top .wine-prices {
  font-size: 1.3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-right: 0.1rem;
}

.wine-names {
  list-style: disc;
  width: 90%;
}

.wine-names > li > p {
  margin: 0.25rem;
}

#glaces img {
  width: 50%;
  align-self: center;
}

#glaces .menu-top {
  align-self: center;
  width: 80%;
}

#glaces .menu-container > h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-family: var(--f-fancy);
  align-self: center;
  text-align: center;
}

#glace-bonus {
  align-self: center;
  text-align: center;
}

.parfums {
  width: 80%;
  align-self: center;
}

#glace-dispo {
  margin-top: 3rem;
  font-family: var(--f-fancy);
}

#formules .menu-content {
  width: 90%;
  align-self: center;
  padding-right: 5%;
}

#formules .menu-content ul {
  list-style: none;
  margin: 0;
  padding-left: 0.5rem;
  width: 100%;
}

#formules hr {
  width: 90%;
  margin: 1rem;
  border: 1px solid var(--c-dark-brown);
  border-radius: 100px;
}

#warning-alcool {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 1rem;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 901px) {
  body {
    background-size: 200px;
  }

  main {
    font-size: 1.5rem;
    padding: 0 10vw;
  }

  #title-container {
    padding: 5px 10px;
  }

  .menu-art {
    width: 65vw;
    max-width: 950px;
    min-width: 675px;
  }

  .menu-art > h2 {
    font-size: 2rem;
    padding: 2rem;
  }

  .menu-container {
    align-items: center;
    margin: 6rem;
  }

  .menu-content {
    padding: 0;
  }

  .price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .price-sub {
    width: max-content;
  }

  .menu-top .menu-title, .menu-top .menu-price {
    font-size: 1.5rem;
  }

  li::marker {
    font-size: 1rem;
  }

  .bf-sub > ul {
    padding-left: 2rem;
  }

  .bf-sub#symple h5 {
    font-size: 1.25rem;
  }

  .bf-sub#symple hr {
    margin: 4rem 0;
  }

  #warning-alcool {
    font-size: 1rem;
  }
}
