@media (max-height: 400px) and (max-width: 901px) {
  body * {
    display: none;
  }

  body {
    padding: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  body::after {
    content: "Veuillez tourner votre appareil à la verticale. 🔃";
    font-size: 1.75rem;
    font-family: "Material Icons" ,sans-serif;
    display: block;
    text-align: center;
    background-color: var(--c-dark-brown);
    border-radius: 100px;
    color: var(--c-cream);
    padding: 20px;

    margin: auto 10vw;
    box-shadow: #00000080 0 5px 15px;
  }
}
